<html>
  <head>
    <title>bitwise fun (<%= score %>)</title>
    <link href="<%= url '/styles.css' %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="centric">

      <div>
        <% bytes.each do |byte| %>
          <div class="row">
            <% byte.split('').each do |bit| %>
              <label class="bit">
                <% if bit == '0' %>
                  <span class="grey square"></span>
                <% else %>
                  <span class="black square"></span>
                <% end %>
              </label>
            <% end %>
          </div>
        <% end %>
      </div>

      <form>
        <div class="row">
          <% 8.times do |n| %>
            <label class="container bit">
              <input type="hidden" name="<%= n %>" value="0" />
              <input type="checkbox" name="<%= n %>" value="1" />
              <span class="interactive square"></span>
            </label>
          <% end %>
        </div>

        <label class="container bit">
          <input type="submit" value="" />
          <span class="interactive square large"></span>
        </label>
      </form>

    </div>
  </body>
</html>
