<html>
  <head>
    <title>bitwise fun</title>
    <style>
      body { font-family: monospace; font-size: 32px; }
    </style>
  </head>
  <body>
    <% bytes.each do |byte| %>
      <p><%= byte %></p>
    <% end %>

    <form>
      <input type="text" name="guess" placeholder="00000000" />
      <input type="submit" value="check it!" />
    </form>
  </body>
</html>
